In [13]:
import pandas as pd
import numpy as np
import nltk

from tqdm import tqdm

nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [62]:
df = pd.read_csv("../data/raw/data.txt", sep='\t', names=["en", "ru"])

In [63]:
df

,en,ru
0,"Cordelia Hotel is situated in Tbilisi, a 3-min...","Отель Cordelia расположен в Тбилиси, в 3 минут..."
1,At Tupirmarka Lodge you will find a 24-hour fr...,В числе удобств лоджа Tupirmarka круглосуточна...
2,"Featuring free WiFi in all areas, Naigao Xiaow...",Апартаменты Naigao Xiaowo расположены в городе...
3,Each has a TV and a private bathroom with shower.,В вашем распоряжении также телевизор и собстве...
4,Your room comes with air conditioning and sate...,Номер оснащен кондиционером и спутниковым теле...
...,...,...
49985,The spacious air-conditioned rooms open out to...,Просторные номера с кондиционером выходят на с...
49986,Minsk Ring road is a 5-minute drive from the p...,Минская кольцевая автомобильная дорога проходи...
49987,There is a private bathroom with a shower.,В собственной ванной комнате установлен душ.
49988,It is a 15-minute drive from Malacca Town Cent...,За 15 минут вы доедете до центра города Малакк...
49989,Each room at Apartments na Podgornoy is colour...,Все апартаменты « На Подгорной» красочно оформ...

In [64]:
signs = '.,?!:; '
numbers = ''.join([str(i) for i in range(10)])
RUSSIAN_LETTERS_AND_SIGNS = 'абвгдеёжзийклмнопрстуфхцчшщъыьэюя' + signs + numbers
ENGLISH_LETTERS_AND_SIGNS = ''.join([chr(i) for i in range(ord('a'), ord('z') + 1)]) + signs + numbers

In [65]:
columns = df.columns

Data = []
for i in tqdm(range(len(df))):
    row = df.loc[i].values
    if type(row[0]) is not str or type(row[1]) is not str:
        continue
    for it in range(0, 2):
        row[it] = row[it].lower().strip()
        row[it] = ''.join([
            tt for tt in row[it] if tt in RUSSIAN_LETTERS_AND_SIGNS or tt in ENGLISH_LETTERS_AND_SIGNS
        ])
    row[0] = nltk.word_tokenize(row[0], language='english')
    row[1] = nltk.word_tokenize(row[1], language='russian')
    row[0] = ' '.join(row[0])
    row[1] = ' '.join(row[1])
    Data.append(row)
df = pd.DataFrame(Data, columns=columns)

100%|██████████| 49990/49990 [00:11<00:00, 4269.74it/s]

In [66]:
df

,en,ru
0,"cordelia hotel is situated in tbilisi , a 3min...","отель cordelia расположен в тбилиси , в 3 мину..."
1,at tupirmarka lodge you will find a 24hour fro...,в числе удобств лоджа tupirmarka круглосуточна...
2,"featuring free wifi in all areas , naigao xiao...",апартаменты naigao xiaowo расположены в городе...
3,each has a tv and a private bathroom with show...,в вашем распоряжении также телевизор и собстве...
4,your room comes with air conditioning and sate...,номер оснащен кондиционером и спутниковым теле...
...,...,...
49984,the spacious airconditioned rooms open out to ...,просторные номера с кондиционером выходят на с...
49985,minsk ring road is a 5minute drive from the pr...,минская кольцевая автомобильная дорога проходи...
49986,there is a private bathroom with a shower .,в собственной ванной комнате установлен душ .
49987,it is a 15minute drive from malacca town centr...,за 15 минут вы доедете до центра города малакк...
49988,each room at apartments na podgornoy is colour...,все апартаменты на подгорной красочно оформлен...

In [68]:
df.to_csv('../data/interim/preprocessed.tsv', sep='\t')